html, body {
  margin: 0;
  padding: 0;
  height: 100vh;
  font-weight: bold;
  font-family: 'Roboto Slab', sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

main {
  z-index: 10;
}

section + section {
  margin-top: 10px;
}

header {
  font-size: 14px;
  line-height: 10px;
}

article {
  font-size: 22px;
}

article span:first-child {
  margin-right: 2px;
}

#chart {
  top: 0; left: 0;
  position: absolute;
  -webkit-app-region: drag;
}